<div class="application-header">
    <div class="content">
        <span class="error container" *ngIf="error$ | async as error">
            <span *ngIf="error !== ''" class="error">{{error}}</span>
        </span>
        <div class="notifications">
            <fa-icon class="notification-icon" [icon]="faFlag"></fa-icon>
            <div class="unread-circle" *ngIf="unreads$ | async as unread">
                <span class="unread">{{unread}}</span>
            </div>
        </div>
    </div>
</div>